/*RESPONSIVITY*/
*{
    box-sizing: border-box;
}
            /* For mobile phones: */
            [class*="k"] {
                width: 100%;
            }
            @media only screen and (max-width: 600px) {
                .upper1{display:none;}
                .upper3{display:none;}
                iframe{
                    height: 90vh; width: 99.5vw;
                    display: table; margin: 0 auto;
                    overflow: hidden;
                    border: none;
                }
            }
                    /* For tablets: */
                    @media only screen and (min-width: 600px) {
                        
                        .kk1 {width: 8.33%;}
                        .kk2 {width: 16.66%;}
                        .kk3 {width: 25%;}
                        .kk4 {width: 33.33%;}
                        .kk5 {width: 41.66%;}
                        .kk6 {width: 50%;}
                        .kk7 {width: 58.33%;}
                        .kk8 {width: 66.66%;}
                        .kk9 {width: 75%;}
                        .kk10 {width: 83.33%;}
                        .kk11 {width: 91.66%;}
                        .kk12 {width: 100%;}
                        iframe{
                            height: 90vh; width: 90vw;
                            display: table; margin: 0 auto;
                            overflow: hidden;
                            border: none;
                        }
                    }
                        /* For desktop: */
                        @media only screen and (min-width: 768px) {
                            .k1 {width: 8.33%;}
                            .k2 {width: 16.66%;}
                            .k3 {width: 25%;}
                            .k4 {width: 33.33%;}
                            .k5 {width: 41.66%;}
                            .k6 {width: 50%;}
                            .k7 {width: 58.33%;}
                            .k8 {width: 66.66%;}
                            .k9 {width: 75%;}
                            .k10 {width: 83.33%;}
                            .k11 {width: 91.66%;}
                            .k12 {width: 100%;}
                            iframe{
                                height: 90vh; width: 80vw;
                                display: table; margin: 0 auto;
                                overflow: hidden;
                                border: none;
                            }
                        }
html,body{
    background-color: rgb(212, 212, 212);
    margin:0;
    scroll-behavior: smooth;
    overflow: hidden;
    border: none;
}

.header{
    position: fixed;
    width: 100vw;
}

.buttons{
    display: inline-block;
    width: 200px; height: 100px;
}

#page{
    float:left;
}

iframe{
    background-color: rgb(32, 151, 255);
}

[class*="upper"]{
    height: 10vh; padding: 1vw 3vw 2vw 3vw;
    float:left;
    background-color: rgb(238, 238, 238);
}

[class*="upper"] a{
    font-family: Arial, Helvetica, sans-serif;
    color: #333; text-decoration: none;
    font-size: 3vh;
    text-align: center;
}

.upper4 a{
    font-size: 3vh; font-weight: bolder;
    color: rgb(107, 205, 130);
}

a{
    color: #333; font-family: Arial, Helvetica, sans-serif;
}

[class*=cont]{
    display: table; margin: 0 auto;
    height: 100vh; padding: 5vw;
    background-color: rgb(238, 238, 238);
}
[class*=cont] span{
    display: block;
    text-align: center; font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh; font-weight: bolder; 
    color: rgb(107, 205, 130);
}